<%- include('partials/header') %>

  <h2><%= book.title %></h2>
  <img class="book-cover" src="<%= book.cover_url %>" alt="Book Cover">
<div class="book-details">
  <p><strong>Author:</strong> <%= book.author %></p>
  <p><strong>Rating:</strong> <%= book.rating %>/10</p>
  <p><strong>Review:</strong><br><%= book.review %></p>
  <p><strong>Read on:</strong> <%= book.read_date.toDateString() %></p>

  <a href="/books/<%= book.id %>/edit" class="btn-edit">✏️ Edit</a>
  <a href="/" class="btn-back">⬅ Back</a>
</div>

<%- include('partials/footer') %>
